<h1>Ultimate Battleman 3000! Welcome to the heckin' arena!</h1>
<h2>Enter the names of the battle bois, ya flippin geese</h3>
<form action='/names' method='post'>
  <h3>Enter Player 1:</h3>
  <input type='text' name='player1'>
  <br>
  <h3>Enter Player 2:</h3>
  <input type='text' name='player2'>
  <br>
  <input type='submit' value='Submit'>
</form>
