<body style="color:red; fontsize:56px" background="https://omanali.weebly.com/uploads/2/5/7/2/25723270/1495093_orig.jpg" >
  <h1 style="background:white">Player 1 is playing as Battle legend:</h1>
  <h2 style="background:white"><%= @player1 %></h2>
  <h2 style="background:white"> <%= @p1_health %>HP <h2>
  <h1 style="background:white">Player 2 is playing as Battle boi:</h1>
  <h2 style="background:white"><%= @player2 %></h2>
  <h2 style="background:white"> <%= @p2_health %>HP <h2>
</body>
